In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\marvin\\workspace'

In [3]:
os.chdir('d:\workspace\python\O2Ocontest')

In [4]:
#os.mkdir('data')

In [5]:
ls

 驱动器 D 中的卷是 Program
 卷的序列号是 9685-E4E8

 d:\workspace\python\O2Ocontest 的目录

2017/02/20  15:08    <DIR>          .
2017/02/20  15:08    <DIR>          ..
2017/02/20  15:09    <DIR>          data
               0 个文件              0 字节
               3 个目录 55,053,561,856 可用字节

In [6]:
#读取线下的数据，并添加头
off_train = pd.read_csv('./data/ccf_offline_stage1_train.csv',header=None)

In [7]:
off_train.columns = ('user_id','merchant_id','coupon_id','discount_rate','distance','date_received','date')

In [8]:
off_train.head(5)

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
0,1439408,2632,null,null,0,null,20160217
1,1439408,4663,11002,150:20,1,20160528,null
2,1439408,2632,8591,20:1,0,20160217,null
3,1439408,2632,1078,20:1,0,20160319,null
4,1439408,2632,8591,20:1,0,20160613,null

In [9]:
#读取测试数据，并添加头
off_test = pd.read_csv('./data/ccf_offline_stage1_test_revised.csv',header=None)

In [10]:
off_test.columns = ('user_id','merchant_id','coupon_id','discount_rate','distance','date_received')

In [11]:
off_test.head(5)

   user_id  merchant_id  coupon_id discount_rate distance  date_received
0  4129537          450       9983          30:5        1       20160712
1  6949378         1300       3429          30:5     null       20160706
2  2166529         7113       6928        200:20        5       20160727
3  2166529         7113       1808        100:10        5       20160727
4  6172162         7605       6500          30:1        2       20160708

In [12]:
#读取线上的数据，并添加头
#超内存，暂时不运行
#on_train = pd.read_csv('./data/ccf_online_stage1_train.csv',header=None)

In [13]:
#on_train.columns = ('user_id','merchant_id','action','coupon_id','discount_rate','date_received','date')

In [14]:
import datetime as date

In [15]:
#划分数据集
feature1 = off_train[(off_train['date']>='20160101')& (off_train['date'] <= '20160413') | ((off_train['date'] == 'null') & (off_train['date_received'] >= '20160101')&(off_train['date_received'] <= '20160413'))]

In [16]:
dataset1 = off_train[(off_train.date_received>='20160414')&(off_train.date_received<='20160514')]

In [17]:
feature1.head(2)

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
0,1439408,2632,null,null,0,null,20160217
2,1439408,2632,8591,20:1,0,20160217,null

In [18]:
dataset1.head(2)

    user_id  merchant_id coupon_id discount_rate distance date_received  date
7   1832624         3381      7610        200:20        0      20160429  null
18   163606         1569      5054        200:30       10      20160421  null

In [19]:
feature2 = off_train[(off_train.date >='20160201') &(off_train.date <='20160514') | ((off_train.date=='null')&(off_train.date_received >= '20160201')&(off_train.date_received<='20160514'))]

In [20]:
dataset2 = off_train[(off_train.date >='20160515') & (off_train.date <= '20160615')]

In [21]:
feature3 = off_train[(off_train.date >= '20160315') & (off_train.date <= '20160630') | ((off_train.date == 'null') &(off_train.date_received >='20160315')&(off_train.date_received <= '20160630'))]

In [22]:
dataset3 = off_test

In [23]:
#对数据集3的处理
t = dataset3[['user_id']]

In [24]:
t.head(2)

   user_id
0  4129537
1  6949378

In [25]:
t['this_month_user_receive_all_coupon_count']=1

c:\python27\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [26]:
t = t.groupby('user_id').agg('sum').reset_index()

In [27]:
t.head(3)

   user_id  this_month_user_receive_all_coupon_count
0      209                                         2
1      215                                         1
2      316                                         1

In [28]:
t1 = dataset3[['user_id','coupon_id']]

In [29]:
t1.head(3)

   user_id  coupon_id
0  4129537       9983
1  6949378       3429
2  2166529       6928

In [30]:
t1['this_month_user_receive_same_coupon_count']=1

c:\python27\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [31]:
t1 = t1.groupby(['user_id','coupon_id']).agg('sum').reset_index()

In [32]:
t1

        user_id  coupon_id  this_month_user_receive_same_coupon_count
0           209        825                                          1
1           209       7557                                          1
2           215       5488                                          1
3           316       3992                                          1
4           417      12465                                          1
5           432      10438                                          1
6           448      10927                                          4
7           448      13602                                          1
8           452       3992                                          1
9           452       6500                                          1
10          470       9983                                          1
11          569       3594                                          1
12          728      10418                                          1
13          736       3686                                          2
14          738       3647                                          1
15          738       9424                                          1
16          766       3429                                          1
17          766       8059                                          1
18          766       9983                                          1
19          878      13602                                          1
20          892       4727                                          1
21          983      13602                                          1
22         1035      10418                                          1
23         1202       6445                                          1
24         1318      11894                                          2
25         1461      13320                                          1
26         1461      13602                                          1
27         1596       3429                                          1
28         1596       9718                                          1
29         1658       9983                                          1
...         ...        ...                                        ...
105928  7358815      13602                                          1
105929  7358978      13398                                          1
105930  7359068      13602                                          1
105931  7359070      11093                                          2
105932  7359119      10418                                          1
105933  7359376      13602                                          1
105934  7359448      13602                                          1
105935  7359453       8499                                          1
105936  7359538       9983                                          1
105937  7359538      13602                                          1
105938  7359649        807                                          1
105939  7359692       8901                                          2
105940  7359692       9983                                          1
105941  7359699       6390                                          2
105942  7359794      13602                                          1
105943  7359805      13602                                          1
105944  7359809       3429                                          1
105945  7360071       4656                                          1
105946  7360071      12890                                          1
105947  7360401       2920                                          1
105948  7360401      13602                                          1
105949  7360418      13602                                          1
105950  7360432      13602                                          1
105951  7360556       8059                                          1
105952  7360651       5495                                          1
105953  7360785      10418                                          1
105954  7360845      13602                                          1
105955  7360967      13602                                          1
105956  7361024       2978                                          1
105957  7361024      13602                                          1

[105958 rows x 3 columns]

In [33]:
t2 = dataset3[['user_id','coupon_id','date_received']]

In [34]:
t2.date_received = t2.date_received.astype('str')

c:\python27\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [35]:
t2 = t2.groupby(['user_id','coupon_id'])['date_received'].agg(lambda x:':'.join(x)).reset_index()

In [36]:
t2

        user_id  coupon_id                        date_received
0           209        825                             20160721
1           209       7557                             20160721
2           215       5488                             20160703
3           316       3992                             20160721
4           417      12465                             20160712
5           432      10438                             20160706
6           448      10927  20160710:20160707:20160706:20160704
7           448      13602                             20160701
8           452       3992                             20160721
9           452       6500                             20160702
10          470       9983                             20160710
11          569       3594                             20160716
12          728      10418                             20160714
13          736       3686                    20160713:20160724
14          738       3647                             20160716
15          738       9424                             20160708
16          766       3429                             20160717
17          766       8059                             20160705
18          766       9983                             20160706
19          878      13602                             20160727
20          892       4727                             20160703
21          983      13602                             20160706
22         1035      10418                             20160703
23         1202       6445                             20160712
24         1318      11894                    20160728:20160720
25         1461      13320                             20160731
26         1461      13602                             20160711
27         1596       3429                             20160705
28         1596       9718                             20160719
29         1658       9983                             20160711
...         ...        ...                                  ...
105928  7358815      13602                             20160714
105929  7358978      13398                             20160725
105930  7359068      13602                             20160724
105931  7359070      11093                    20160725:20160729
105932  7359119      10418                             20160709
105933  7359376      13602                             20160727
105934  7359448      13602                             20160725
105935  7359453       8499                             20160721
105936  7359538       9983                             20160712
105937  7359538      13602                             20160704
105938  7359649        807                             20160727
105939  7359692       8901                    20160713:20160725
105940  7359692       9983                             20160720
105941  7359699       6390                    20160720:20160727
105942  7359794      13602                             20160726
105943  7359805      13602                             20160703
105944  7359809       3429                             20160713
105945  7360071       4656                             20160717
105946  7360071      12890                             20160704
105947  7360401       2920                             20160728
105948  7360401      13602                             20160724
105949  7360418      13602                             20160716
105950  7360432      13602                             20160710
105951  7360556       8059                             20160703
105952  7360651       5495                             20160701
105953  7360785      10418                             20160704
105954  7360845      13602                             20160716
105955  7360967      13602                             20160704
105956  7361024       2978                             20160715
105957  7361024      13602                             20160715

[105958 rows x 3 columns]

In [37]:
t2['receive_number'] = t2.date_received.apply(lambda s:len(s.split(':')))

In [38]:
t2

,user_id,coupon_id,date_received,receive_number
0,209,825,20160721,1
1,209,7557,20160721,1
2,215,5488,20160703,1
3,316,3992,20160721,1
4,417,12465,20160712,1
5,432,10438,20160706,1
6,448,10927,20160710:20160707:20160706:20160704,4
7,448,13602,20160701,1
8,452,3992,20160721,1
9,452,6500,20160702,1
10,470,9983,20160710,1
11,569,3594,20160716,1
12,728,10418,20160714,1
13,736,3686,20160713:20160724,2
14,738,3647,20160716,1
15,738,9424,20160708,1
16,766,3429,20160717,1
17,766,8059,20160705,1
18,766,9983,20160706,1
19,878,13602,20160727,1
20,892,4727,20160703,1
21,983,13602,20160706,1
22,1035,10418,20160703,1
23,1202,6445,20160712,1
24,1318,11894,20160728:20160720,2
25,1461,13320,20160731,1
26,1461,13602,20160711,1
27,1596,3429,20160705,1
28,1596,9718,20160719,1
29,1658,9983,20160711,1
...,...,...,...,...
105928,7358815,13602,20160714,1
105929,7358978,13398,20160725,1
105930,7359068,13602,20160724,1
105931,7359070,11093,20160725:20160729,2
105932,7359119,10418,20160709,1
105933,7359376,13602,20160727,1
105934,7359448,13602,20160725,1
105935,7359453,8499,20160721,1
105936,7359538,9983,20160712,1
105937,7359538,13602,20160704,1
105938,7359649,807,20160727,1
105939,7359692,8901,20160713:20160725,2
105940,7359692,9983,20160720,1
105941,7359699,6390,20160720:20160727,2
105942,7359794,13602,20160726,1
105943,7359805,13602,20160703,1
105944,7359809,3429,20160713,1
105945,7360071,4656,20160717,1
105946,7360071,12890,20160704,1
105947,7360401,2920,20160728,1
105948,7360401,13602,20160724,1
105949,7360418,13602,20160716,1
105950,7360432,13602,20160710,1
105951,7360556,8059,20160703,1
105952,7360651,5495,20160701,1
105953,7360785,10418,20160704,1
105954,7360845,13602,20160716,1
105955,7360967,13602,20160704,1
105956,7361024,2978,20160715,1
105957,7361024,13602,20160715,1

In [39]:
t2 = t2[t2.receive_number>1]

In [40]:
t2

,user_id,coupon_id,date_received,receive_number
6,448,10927,20160710:20160707:20160706:20160704,4
13,736,3686,20160713:20160724,2
24,1318,11894,20160728:20160720,2
128,9208,6335,20160716:20160703,2
155,11170,11873,20160717:20160715:20160724:20160730,4
207,14321,2111,20160716:20160712:20160730,3
210,14360,5035,20160726:20160718:20160729,3
219,14916,2197,20160723:20160721,2
262,17589,10141,20160714:20160717:20160729:20160702,4
293,19732,9639,20160722:20160718,2
324,21564,3944,20160713:20160714:20160715,3
375,25208,11894,20160716:20160714,2
406,27134,12061,20160709:20160715,2
528,36397,2435,20160721:20160720:20160723,3
584,40900,13267,20160730:20160723:20160730,3
644,46054,13164,20160715:20160716,2
663,47130,2111,20160731:20160722,2
667,47166,10887,20160726:20160726:20160727,3
681,48772,1137,20160724:20160710,2
737,52816,10028,20160704:20160705:20160708:20160712,4
746,53331,2357,20160721:20160722,2
809,57413,11535,20160718:20160705,2
810,57607,2693,20160723:20160731,2
813,57920,4727,20160705:20160724,2
870,60984,5412,20160719:20160715:20160704,3
891,62354,6500,20160701:20160706,2
924,64163,12239,20160706:20160705:20160707,3
960,66842,1699,20160722:20160720:20160716,3
961,66842,12229,20160722:20160716:20160720,3
969,68038,864,20160722:20160727,2
...,...,...,...,...
105218,7309637,2002,20160706:20160718,2
105247,7311793,7965,20160714:20160708:20160725:20160728:20160721:2...,6
105271,7312926,7233,20160727:20160724,2
105332,7316985,11463,20160708:20160706:20160710:20160712,4
105345,7317703,10059,20160730:20160720:20160726:20160701:20160728:2...,9
105368,7319875,8042,20160728:20160728,2
105412,7323351,8306,20160704:20160712,2
105437,7325241,9436,20160701:20160703,2
105444,7325646,10858,20160704:20160728,2
105463,7327991,2719,20160708:20160707,2
105467,7328595,8306,20160719:20160727,2
105476,7329343,8181,20160723:20160728,2
105497,7330420,4277,20160710:20160714,2
105498,7330524,4727,20160708:20160701,2
105550,7333636,1879,20160711:20160705,2
105561,7334150,8596,20160722:20160722,2
105603,7337448,12913,20160706:20160701,2
105635,7339883,8182,20160709:20160713,2
105643,7340385,5840,20160731:20160709,2
105747,7346141,6500,20160701:20160709,2
105748,7346177,7218,20160730:20160730,2
105774,7348015,4956,20160703:20160702,2
105795,7349391,2002,20160716:20160716,2
105804,7349737,11379,20160730:20160716,2
105807,7350176,4369,20160706:20160706,2
105816,7350682,3594,20160712:20160712,2
105886,7356495,6258,20160722:20160711,2
105931,7359070,11093,20160725:20160729,2
105939,7359692,8901,20160713:20160725,2
105941,7359699,6390,20160720:20160727,2

In [41]:
t2['max_date_received'] = t2.date_received.apply(lambda s:max([int(d) for d in s.split(':')]))

c:\python27\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [42]:
t2

,user_id,coupon_id,date_received,receive_number,max_date_received
6,448,10927,20160710:20160707:20160706:20160704,4,20160710
13,736,3686,20160713:20160724,2,20160724
24,1318,11894,20160728:20160720,2,20160728
128,9208,6335,20160716:20160703,2,20160716
155,11170,11873,20160717:20160715:20160724:20160730,4,20160730
207,14321,2111,20160716:20160712:20160730,3,20160730
210,14360,5035,20160726:20160718:20160729,3,20160729
219,14916,2197,20160723:20160721,2,20160723
262,17589,10141,20160714:20160717:20160729:20160702,4,20160729
293,19732,9639,20160722:20160718,2,20160722
324,21564,3944,20160713:20160714:20160715,3,20160715
375,25208,11894,20160716:20160714,2,20160716
406,27134,12061,20160709:20160715,2,20160715
528,36397,2435,20160721:20160720:20160723,3,20160723
584,40900,13267,20160730:20160723:20160730,3,20160730
644,46054,13164,20160715:20160716,2,20160716
663,47130,2111,20160731:20160722,2,20160731
667,47166,10887,20160726:20160726:20160727,3,20160727
681,48772,1137,20160724:20160710,2,20160724
737,52816,10028,20160704:20160705:20160708:20160712,4,20160712
746,53331,2357,20160721:20160722,2,20160722
809,57413,11535,20160718:20160705,2,20160718
810,57607,2693,20160723:20160731,2,20160731
813,57920,4727,20160705:20160724,2,20160724
870,60984,5412,20160719:20160715:20160704,3,20160719
891,62354,6500,20160701:20160706,2,20160706
924,64163,12239,20160706:20160705:20160707,3,20160707
960,66842,1699,20160722:20160720:20160716,3,20160722
961,66842,12229,20160722:20160716:20160720,3,20160722
969,68038,864,20160722:20160727,2,20160727
...,...,...,...,...,...
105218,7309637,2002,20160706:20160718,2,20160718
105247,7311793,7965,20160714:20160708:20160725:20160728:20160721:2...,6,20160728
105271,7312926,7233,20160727:20160724,2,20160727
105332,7316985,11463,20160708:20160706:20160710:20160712,4,20160712
105345,7317703,10059,20160730:20160720:20160726:20160701:20160728:2...,9,20160730
105368,7319875,8042,20160728:20160728,2,20160728
105412,7323351,8306,20160704:20160712,2,20160712
105437,7325241,9436,20160701:20160703,2,20160703
105444,7325646,10858,20160704:20160728,2,20160728
105463,7327991,2719,20160708:20160707,2,20160708
105467,7328595,8306,20160719:20160727,2,20160727
105476,7329343,8181,20160723:20160728,2,20160728
105497,7330420,4277,20160710:20160714,2,20160714
105498,7330524,4727,20160708:20160701,2,20160708
105550,7333636,1879,20160711:20160705,2,20160711
105561,7334150,8596,20160722:20160722,2,20160722
105603,7337448,12913,20160706:20160701,2,20160706
105635,7339883,8182,20160709:20160713,2,20160713
105643,7340385,5840,20160731:20160709,2,20160731
105747,7346141,6500,20160701:20160709,2,20160709
105748,7346177,7218,20160730:20160730,2,20160730
105774,7348015,4956,20160703:20160702,2,20160703
105795,7349391,2002,20160716:20160716,2,20160716
105804,7349737,11379,20160730:20160716,2,20160730
105807,7350176,4369,20160706:20160706,2,20160706
105816,7350682,3594,20160712:20160712,2,20160712
105886,7356495,6258,20160722:20160711,2,20160722
105931,7359070,11093,20160725:20160729,2,20160729
105939,7359692,8901,20160713:20160725,2,20160725
105941,7359699,6390,20160720:20160727,2,20160727

In [43]:
t2['min_date_received'] = t2.date_received.apply(lambda s:min([int(d) for d in s.split(':')]))

c:\python27\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [44]:
t2

,user_id,coupon_id,date_received,receive_number,max_date_received,min_date_received
6,448,10927,20160710:20160707:20160706:20160704,4,20160710,20160704
13,736,3686,20160713:20160724,2,20160724,20160713
24,1318,11894,20160728:20160720,2,20160728,20160720
128,9208,6335,20160716:20160703,2,20160716,20160703
155,11170,11873,20160717:20160715:20160724:20160730,4,20160730,20160715
207,14321,2111,20160716:20160712:20160730,3,20160730,20160712
210,14360,5035,20160726:20160718:20160729,3,20160729,20160718
219,14916,2197,20160723:20160721,2,20160723,20160721
262,17589,10141,20160714:20160717:20160729:20160702,4,20160729,20160702
293,19732,9639,20160722:20160718,2,20160722,20160718
324,21564,3944,20160713:20160714:20160715,3,20160715,20160713
375,25208,11894,20160716:20160714,2,20160716,20160714
406,27134,12061,20160709:20160715,2,20160715,20160709
528,36397,2435,20160721:20160720:20160723,3,20160723,20160720
584,40900,13267,20160730:20160723:20160730,3,20160730,20160723
644,46054,13164,20160715:20160716,2,20160716,20160715
663,47130,2111,20160731:20160722,2,20160731,20160722
667,47166,10887,20160726:20160726:20160727,3,20160727,20160726
681,48772,1137,20160724:20160710,2,20160724,20160710
737,52816,10028,20160704:20160705:20160708:20160712,4,20160712,20160704
746,53331,2357,20160721:20160722,2,20160722,20160721
809,57413,11535,20160718:20160705,2,20160718,20160705
810,57607,2693,20160723:20160731,2,20160731,20160723
813,57920,4727,20160705:20160724,2,20160724,20160705
870,60984,5412,20160719:20160715:20160704,3,20160719,20160704
891,62354,6500,20160701:20160706,2,20160706,20160701
924,64163,12239,20160706:20160705:20160707,3,20160707,20160705
960,66842,1699,20160722:20160720:20160716,3,20160722,20160716
961,66842,12229,20160722:20160716:20160720,3,20160722,20160716
969,68038,864,20160722:20160727,2,20160727,20160722
...,...,...,...,...,...,...
105218,7309637,2002,20160706:20160718,2,20160718,20160706
105247,7311793,7965,20160714:20160708:20160725:20160728:20160721:2...,6,20160728,20160708
105271,7312926,7233,20160727:20160724,2,20160727,20160724
105332,7316985,11463,20160708:20160706:20160710:20160712,4,20160712,20160706
105345,7317703,10059,20160730:20160720:20160726:20160701:20160728:2...,9,20160730,20160701
105368,7319875,8042,20160728:20160728,2,20160728,20160728
105412,7323351,8306,20160704:20160712,2,20160712,20160704
105437,7325241,9436,20160701:20160703,2,20160703,20160701
105444,7325646,10858,20160704:20160728,2,20160728,20160704
105463,7327991,2719,20160708:20160707,2,20160708,20160707
105467,7328595,8306,20160719:20160727,2,20160727,20160719
105476,7329343,8181,20160723:20160728,2,20160728,20160723
105497,7330420,4277,20160710:20160714,2,20160714,20160710
105498,7330524,4727,20160708:20160701,2,20160708,20160701
105550,7333636,1879,20160711:20160705,2,20160711,20160705
105561,7334150,8596,20160722:20160722,2,20160722,20160722
105603,7337448,12913,20160706:20160701,2,20160706,20160701
105635,7339883,8182,20160709:20160713,2,20160713,20160709
105643,7340385,5840,20160731:20160709,2,20160731,20160709
105747,7346141,6500,20160701:20160709,2,20160709,20160701
105748,7346177,7218,20160730:20160730,2,20160730,20160730
105774,7348015,4956,20160703:20160702,2,20160703,20160702
105795,7349391,2002,20160716:20160716,2,20160716,20160716
105804,7349737,11379,20160730:20160716,2,20160730,20160716
105807,7350176,4369,20160706:20160706,2,20160706,20160706
105816,7350682,3594,20160712:20160712,2,20160712,20160712
105886,7356495,6258,20160722:20160711,2,20160722,20160711
105931,7359070,11093,20160725:20160729,2,20160729,20160725
105939,7359692,8901,20160713:20160725,2,20160725,20160713
105941,7359699,6390,20160720:20160727,2,20160727,20160720

In [45]:
t2 = t2[['user_id','coupon_id','max_date_received','min_date_received']]

In [46]:
t2

        user_id  coupon_id  max_date_received  min_date_received
6           448      10927           20160710           20160704
13          736       3686           20160724           20160713
24         1318      11894           20160728           20160720
128        9208       6335           20160716           20160703
155       11170      11873           20160730           20160715
207       14321       2111           20160730           20160712
210       14360       5035           20160729           20160718
219       14916       2197           20160723           20160721
262       17589      10141           20160729           20160702
293       19732       9639           20160722           20160718
324       21564       3944           20160715           20160713
375       25208      11894           20160716           20160714
406       27134      12061           20160715           20160709
528       36397       2435           20160723           20160720
584       40900      13267           20160730           20160723
644       46054      13164           20160716           20160715
663       47130       2111           20160731           20160722
667       47166      10887           20160727           20160726
681       48772       1137           20160724           20160710
737       52816      10028           20160712           20160704
746       53331       2357           20160722           20160721
809       57413      11535           20160718           20160705
810       57607       2693           20160731           20160723
813       57920       4727           20160724           20160705
870       60984       5412           20160719           20160704
891       62354       6500           20160706           20160701
924       64163      12239           20160707           20160705
960       66842       1699           20160722           20160716
961       66842      12229           20160722           20160716
969       68038        864           20160727           20160722
...         ...        ...                ...                ...
105218  7309637       2002           20160718           20160706
105247  7311793       7965           20160728           20160708
105271  7312926       7233           20160727           20160724
105332  7316985      11463           20160712           20160706
105345  7317703      10059           20160730           20160701
105368  7319875       8042           20160728           20160728
105412  7323351       8306           20160712           20160704
105437  7325241       9436           20160703           20160701
105444  7325646      10858           20160728           20160704
105463  7327991       2719           20160708           20160707
105467  7328595       8306           20160727           20160719
105476  7329343       8181           20160728           20160723
105497  7330420       4277           20160714           20160710
105498  7330524       4727           20160708           20160701
105550  7333636       1879           20160711           20160705
105561  7334150       8596           20160722           20160722
105603  7337448      12913           20160706           20160701
105635  7339883       8182           20160713           20160709
105643  7340385       5840           20160731           20160709
105747  7346141       6500           20160709           20160701
105748  7346177       7218           20160730           20160730
105774  7348015       4956           20160703           20160702
105795  7349391       2002           20160716           20160716
105804  7349737      11379           20160730           20160716
105807  7350176       4369           20160706           20160706
105816  7350682       3594           20160712           20160712
105886  7356495       6258           20160722           20160711
105931  7359070      11093           20160729           20160725
105939  7359692       8901           20160725           20160713
105941  7359699       6390           20160727           20160720

[3994 rows x 4 columns]

In [47]:
t3  = dataset3[['user_id','coupon_id','date_received']]

In [48]:
t3

        user_id  coupon_id  date_received
0       4129537       9983       20160712
1       6949378       3429       20160706
2       2166529       6928       20160727
3       2166529       1808       20160727
4       6172162       6500       20160708
5       4005121       9983       20160706
6       4347394       9983       20160716
7       3094273      13602       20160727
8       5139970       9983       20160729
9       3237121      13602       20160703
10      6224386       9983       20160716
11      6488578      13602       20160712
12      4164865       9983       20160703
13      4164865       8059       20160706
14      5468674       9983       20160713
15      6258178       9144       20160706
16      3659521       7341       20160727
17      3659521      13181       20160717
18      3659521      13602       20160718
19      7333378      13602       20160704
20      7333378        785       20160727
21      4454914       2978       20160711
22      6817282       8375       20160724
23      3149569      10418       20160721
24      6301186       1715       20160718
25      6301186       4203       20160708
26      2891521      13602       20160724
27      3422977      13602       20160727
28      4771330      13602       20160726
29      4513282      11799       20160712
...         ...        ...            ...
113610  4194809      11799       20160717
113611  4194809      13602       20160713
113612  6062585      10438       20160719
113613  6062585      13602       20160719
113614  6074873        878       20160724
113615  6342137      13602       20160728
113616  6342137       8059       20160704
113617  6342137       9822       20160724
113618  6342137       3429       20160718
113619  4317689       5933       20160727
113620  5110265      13602       20160711
113621  5110265       9983       20160711
113622  6422009       5874       20160710
113623  4851197       9983       20160713
113624  4894205       2978       20160711
113625  7253501      13602       20160714
113626  6485501      13602       20160720
113627  4918781      10438       20160723
113628  6497789       9983       20160716
113629  7047677       2601       20160708
113630  6786557       9983       20160718
113631  6801917      13602       20160719
113632  7066109       9144       20160705
113633  4451837      13602       20160723
113634  5828093       2978       20160716
113635  5828093      10418       20160716
113636  6626813       7595       20160707
113637  6626813       7590       20160712
113638  4547069      13602       20160717
113639  6675965        613       20160728

[113640 rows x 3 columns]

In [49]:
t3 = pd.merge(t3,t2,on=['user_id','coupon_id'],how = 'left')

In [50]:
t3['this_month_user_receive_same_coupon_lastone'] = t3.max_date_received - t3.date_received
t3['this_month_user_receive_same_coupon_firstone'] = t3.date_received - t3.min_date_received

In [51]:
t3.head(100)

,user_id,coupon_id,date_received,max_date_received,min_date_received,this_month_user_receive_same_coupon_lastone,this_month_user_receive_same_coupon_firstone
0,4129537,9983,20160712,NaN,NaN,NaN,NaN
1,6949378,3429,20160706,NaN,NaN,NaN,NaN
2,2166529,6928,20160727,NaN,NaN,NaN,NaN
3,2166529,1808,20160727,NaN,NaN,NaN,NaN
4,6172162,6500,20160708,NaN,NaN,NaN,NaN
5,4005121,9983,20160706,NaN,NaN,NaN,NaN
6,4347394,9983,20160716,NaN,NaN,NaN,NaN
7,3094273,13602,20160727,NaN,NaN,NaN,NaN
8,5139970,9983,20160729,NaN,NaN,NaN,NaN
9,3237121,13602,20160703,NaN,NaN,NaN,NaN
10,6224386,9983,20160716,NaN,NaN,NaN,NaN
11,6488578,13602,20160712,NaN,NaN,NaN,NaN
12,4164865,9983,20160703,NaN,NaN,NaN,NaN
13,4164865,8059,20160706,NaN,NaN,NaN,NaN
14,5468674,9983,20160713,NaN,NaN,NaN,NaN
15,6258178,9144,20160706,NaN,NaN,NaN,NaN
16,3659521,7341,20160727,NaN,NaN,NaN,NaN
17,3659521,13181,20160717,NaN,NaN,NaN,NaN
18,3659521,13602,20160718,NaN,NaN,NaN,NaN
19,7333378,13602,20160704,NaN,NaN,NaN,NaN
20,7333378,785,20160727,NaN,NaN,NaN,NaN
21,4454914,2978,20160711,NaN,NaN,NaN,NaN
22,6817282,8375,20160724,NaN,NaN,NaN,NaN
23,3149569,10418,20160721,NaN,NaN,NaN,NaN
24,6301186,1715,20160718,NaN,NaN,NaN,NaN
25,6301186,4203,20160708,NaN,NaN,NaN,NaN
26,2891521,13602,20160724,NaN,NaN,NaN,NaN
27,3422977,13602,20160727,NaN,NaN,NaN,NaN
28,4771330,13602,20160726,NaN,NaN,NaN,NaN
29,4513282,11799,20160712,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
70,2329861,13849,20160724,NaN,NaN,NaN,NaN
71,3514117,9967,20160706,NaN,NaN,NaN,NaN
72,5733898,13183,20160705,NaN,NaN,NaN,NaN
73,2480389,2978,20160703,NaN,NaN,NaN,NaN
74,3928837,1904,20160722,NaN,NaN,NaN,NaN
75,3017989,13602,20160730,NaN,NaN,NaN,NaN
76,3017989,9983,20160704,NaN,NaN,NaN,NaN
77,5776906,13602,20160706,NaN,NaN,NaN,NaN
78,6332938,13602,20160724,NaN,NaN,NaN,NaN
79,5568010,8596,20160722,20160722.0,20160722.0,0.0,0.0
80,5568010,8596,20160722,20160722.0,20160722.0,0.0,0.0
81,2398981,13602,20160722,NaN,NaN,NaN,NaN
82,3208453,10418,20160713,NaN,NaN,NaN,NaN
83,7205386,13602,20160729,NaN,NaN,NaN,NaN
84,4866574,13602,20160723,NaN,NaN,NaN,NaN
85,4866574,9983,20160725,NaN,NaN,NaN,NaN
86,5394958,2601,20160712,NaN,NaN,NaN,NaN
87,6445582,13602,20160713,NaN,NaN,NaN,NaN
88,3748615,13602,20160709,NaN,NaN,NaN,NaN
89,3748615,11184,20160703,NaN,NaN,NaN,NaN
90,5941774,9983,20160711,NaN,NaN,NaN,NaN
91,2842375,3429,20160725,NaN,NaN,NaN,NaN
92,2324743,10418,20160701,NaN,NaN,NaN,NaN
93,6491662,4654,20160717,NaN,NaN,NaN,NaN
94,3644167,11463,20160710,20160713.0,20160706.0,3.0,4.0
95,3644167,11463,20160706,20160713.0,20160706.0,7.0,0.0
96,3644167,11463,20160708,20160713.0,20160706.0,5.0,2.0
97,3644167,11463,20160711,20160713.0,20160706.0,2.0,5.0
98,3644167,11463,20160713,20160713.0,20160706.0,0.0,7.0
99,2862343,3004,20160712,NaN,NaN,NaN,NaN

In [52]:
def is_firstlastone(x):
    if x==0:
        return 1
    elif x>0:
        return 0
    else:
        return -1#只领取一次优惠券

In [53]:
t3.this_month_user_receive_same_coupon_firstone = t3.this_month_user_receive_same_coupon_firstone.apply(is_firstlastone)
t3.this_month_user_receive_same_coupon_lastone = t3.this_month_user_receive_same_coupon_lastone.apply(is_firstlastone)

In [54]:
t3.head(10)

,user_id,coupon_id,date_received,max_date_received,min_date_received,this_month_user_receive_same_coupon_lastone,this_month_user_receive_same_coupon_firstone
0,4129537,9983,20160712,NaN,NaN,-1,-1
1,6949378,3429,20160706,NaN,NaN,-1,-1
2,2166529,6928,20160727,NaN,NaN,-1,-1
3,2166529,1808,20160727,NaN,NaN,-1,-1
4,6172162,6500,20160708,NaN,NaN,-1,-1
5,4005121,9983,20160706,NaN,NaN,-1,-1
6,4347394,9983,20160716,NaN,NaN,-1,-1
7,3094273,13602,20160727,NaN,NaN,-1,-1
8,5139970,9983,20160729,NaN,NaN,-1,-1
9,3237121,13602,20160703,NaN,NaN,-1,-1

In [55]:
t3 = t3[['user_id','coupon_id','date_received','this_month_user_receive_same_coupon_lastone','this_month_user_receive_same_coupon_firstone']]

In [56]:
t3.head(5)

,user_id,coupon_id,date_received,this_month_user_receive_same_coupon_lastone,this_month_user_receive_same_coupon_firstone
0,4129537,9983,20160712,-1,-1
1,6949378,3429,20160706,-1,-1
2,2166529,6928,20160727,-1,-1
3,2166529,1808,20160727,-1,-1
4,6172162,6500,20160708,-1,-1

In [57]:
t4 = dataset3[['user_id','date_received']]

In [58]:
t4.head(3)

   user_id  date_received
0  4129537       20160712
1  6949378       20160706
2  2166529       20160727

In [59]:
t4['this_day_user_receive_all_coupon_count']=1

c:\python27\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [60]:
t4 = t4.groupby(['user_id','date_received']).agg('sum').reset_index()

In [61]:
t4.head(5)

   user_id  date_received  this_day_user_receive_all_coupon_count
0      209       20160721                                       2
1      215       20160703                                       1
2      316       20160721                                       1
3      417       20160712                                       1
4      432       20160706                                       1

In [62]:
t5 = dataset3[['user_id','coupon_id','date_received']]

In [63]:
t5['this_day_user_receive_same_coupon_count'] = 1

c:\python27\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [64]:
t5 = t5.groupby(['user_id','coupon_id','date_received']).agg('sum').reset_index()

In [65]:
t5[(t5.this_day_user_receive_same_coupon_count)>1]

,user_id,coupon_id,date_received,this_day_user_receive_same_coupon_count
609,40900,13267,20160730,2
694,47166,10887,20160726,2
1188,78469,1442,20160701,3
1346,89518,12807,20160707,2
1349,89518,12807,20160714,2
1627,110406,4811,20160721,2
1878,125868,8975,20160716,2
2174,142307,8042,20160721,2
2203,144430,4563,20160730,2
2949,193090,8596,20160730,2
3430,226426,12418,20160703,2
3508,232786,8596,20160722,2
3785,251282,8042,20160727,2
3786,251282,12211,20160727,2
3821,253599,6643,20160701,3
3860,257389,8291,20160703,2
3862,257389,13161,20160703,3
4196,278206,8306,20160706,2
4201,278398,8306,20160717,2
4227,280963,8,20160710,2
4550,304740,846,20160722,2
4659,311940,1442,20160712,2
5129,340697,8042,20160731,2
5230,345956,825,20160719,2
5243,346556,8596,20160722,2
5340,351365,20,20160728,2
5551,365213,8596,20160722,2
5553,365250,12807,20160704,2
5588,366717,2096,20160709,2
5592,366717,2096,20160719,2
...,...,...,...,...
108691,7093300,9790,20160703,2
108970,7112445,8911,20160720,2
109029,7117564,825,20160722,2
109143,7126629,9793,20160713,2
109146,7126629,9793,20160717,2
109149,7126629,9793,20160721,3
109151,7126629,9793,20160723,2
109153,7126629,9793,20160727,2
109154,7126629,9793,20160728,2
109279,7135697,558,20160718,2
109480,7148584,1180,20160730,2
109584,7153923,3372,20160709,3
110326,7203081,11275,20160713,2
111145,7255216,8596,20160728,2
111267,7263015,1490,20160725,2
111271,7263214,2002,20160713,2
111442,7275393,11266,20160730,2
111739,7292351,11892,20160711,2
111740,7292351,11892,20160715,2
111742,7292351,11892,20160725,2
111764,7293621,9553,20160704,2
111765,7293621,9553,20160722,2
111798,7294973,8479,20160731,2
112171,7317703,10059,20160730,2
112194,7319875,8042,20160728,2
112396,7334150,8596,20160722,2
112587,7346177,7218,20160730,2
112635,7349391,2002,20160716,2
112648,7350176,4369,20160706,2
112657,7350682,3594,20160712,2

In [66]:
t6 = dataset3[['user_id','coupon_id','date_received']]

In [67]:
t6.date_received = t6.date_received.astype('str')

In [68]:
t6 = t6.groupby(['user_id','coupon_id'])['date_received'].agg(lambda x:':'.join(x)).reset_index()

In [69]:
t6.rename(columns={'date_received':'dates'},inplace=True)

In [76]:
t6

        user_id  coupon_id                                dates
0           209        825                             20160721
1           209       7557                             20160721
2           215       5488                             20160703
3           316       3992                             20160721
4           417      12465                             20160712
5           432      10438                             20160706
6           448      10927  20160710:20160707:20160706:20160704
7           448      13602                             20160701
8           452       3992                             20160721
9           452       6500                             20160702
10          470       9983                             20160710
11          569       3594                             20160716
12          728      10418                             20160714
13          736       3686                    20160713:20160724
14          738       3647                             20160716
15          738       9424                             20160708
16          766       3429                             20160717
17          766       8059                             20160705
18          766       9983                             20160706
19          878      13602                             20160727
20          892       4727                             20160703
21          983      13602                             20160706
22         1035      10418                             20160703
23         1202       6445                             20160712
24         1318      11894                    20160728:20160720
25         1461      13320                             20160731
26         1461      13602                             20160711
27         1596       3429                             20160705
28         1596       9718                             20160719
29         1658       9983                             20160711
...         ...        ...                                  ...
105928  7358815      13602                             20160714
105929  7358978      13398                             20160725
105930  7359068      13602                             20160724
105931  7359070      11093                    20160725:20160729
105932  7359119      10418                             20160709
105933  7359376      13602                             20160727
105934  7359448      13602                             20160725
105935  7359453       8499                             20160721
105936  7359538       9983                             20160712
105937  7359538      13602                             20160704
105938  7359649        807                             20160727
105939  7359692       8901                    20160713:20160725
105940  7359692       9983                             20160720
105941  7359699       6390                    20160720:20160727
105942  7359794      13602                             20160726
105943  7359805      13602                             20160703
105944  7359809       3429                             20160713
105945  7360071       4656                             20160717
105946  7360071      12890                             20160704
105947  7360401       2920                             20160728
105948  7360401      13602                             20160724
105949  7360418      13602                             20160716
105950  7360432      13602                             20160710
105951  7360556       8059                             20160703
105952  7360651       5495                             20160701
105953  7360785      10418                             20160704
105954  7360845      13602                             20160716
105955  7360967      13602                             20160704
105956  7361024       2978                             20160715
105957  7361024      13602                             20160715

[105958 rows x 3 columns]

In [72]:
#get_day_gap_before
def get_day_gap_before(s):
    date_received,dates = s.split('-')
    dates = dates.split(':')
    gaps = []
    for d in dates:
        this_gap = (date(int(date_received[0:4]),int(date_received[4:6]),int(date_received[6:8]))-date(int(d[0:4]),int(d[4:6]),int(d[6:8]))).days
        if this_gap > 0:
            gaps.append(this_gap)
    if len(gaps)==0:
        return -1
    else:
        return min(gaps)

In [73]:
#get_day_gap_after
def get_day_gap_after(s):
    date_received,dates = s.split('-')
    dates = dates.split(':')
    gaps = []
    for d in dates:
        this_gap = (date(int(d[0:4]),int(d[4:6]),int(d[6:8]))-date(int(date_received[0:4]),int(date_received[4:6]),int(date_received[6:8]))).days
        if this_gap>0:
            gaps.append(this_gap)
    if len(gaps)==0:
        return -1
    else:
        return min(gaps)

In [104]:
t7 = dataset2[['user_id','coupon_id','date_received']]

In [105]:
t7 = pd.merge(t7,t6,on=['user_id','coupon_id'],how = 'left')

In [108]:
t7

        user_id coupon_id date_received dates
0       1439408      null          null   NaN
1       1439408      8591      20160516   NaN
2       2029232      null          null   NaN
3        196342      null          null   NaN
4       4191584      null          null   NaN
5       4191584      null          null   NaN
6       1113008     11166      20160515   NaN
7       1113008      null          null   NaN
8       4061024      null          null   NaN
9        622296      null          null   NaN
10      7340736      null          null   NaN
11       114747      2366      20160523   NaN
12       114747      null          null   NaN
13       114747      null          null   NaN
14       114747      null          null   NaN
15       114747      null          null   NaN
16       114747      null          null   NaN
17       114747      null          null   NaN
18      3283808      null          null   NaN
19       197110      null          null   NaN
20       180790      null          null   NaN
21      5525184      null          null   NaN
22       559704      null          null   NaN
23       756312      null          null   NaN
24       756312      null          null   NaN
25       756312      null          null   NaN
26       756312      null          null   NaN
27       854616      null          null   NaN
28       854616      null          null   NaN
29      5264064      null          null   NaN
...         ...       ...           ...   ...
194402   878424     12491      20160523   NaN
194403   122139      null          null   NaN
194404   122139      null          null   NaN
194405   178774      null          null   NaN
194406   244342      null          null   NaN
194407  1954736      null          null   NaN
194408  6511296      null          null   NaN
194409  7297728      null          null   NaN
194410   260854      null          null   NaN
194411   260854      null          null   NaN
194412   781272      null          null   NaN
194413   472684      null          null   NaN
194414   472684      null          null   NaN
194415  4680384      null          null   NaN
194416  4680384      null          null   NaN
194417  4680384      null          null   NaN
194418   228214      null          null   NaN
194419  3260768      null          null   NaN
194420   881496      null          null   NaN
194421   195862      null          null   NaN
194422   522796      null          null   NaN
194423  4182368      null          null   NaN
194424  4182368      null          null   NaN
194425  3400544      null          null   NaN
194426  3400544      null          null   NaN
194427  3400544      null          null   NaN
194428  3400544      null          null   NaN
194429  2876768      null          null   NaN
194430   188086      null          null   NaN
194431   212662      3739      20160508   NaN

[194432 rows x 4 columns]

In [109]:
t7['date_received_date'] = t7.date_received.astype('str') + '-' + t7.dates

In [110]:
t7[t7.dates.notnull()]

Empty DataFrame
Columns: [user_id, coupon_id, date_received, dates, date_received_date]
Index: []

In [111]:
t7['day_gap_before'] = t7.date_received_date.apply(get_day_gap_before)

AttributeError: 'float' object has no attribute 'split'

In [112]:
t7['day_gap_after'] = t7.date_received_date.apply(get_day_gap_after)

AttributeError: 'float' object has no attribute 'split'